<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <br>
    <h1>Consulta</h1>
    <br>

<form method="POST">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Código:</span>
    </div>
    <input type="text" class="form-control" id="codigo" name="codigo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </div>
  </div>
</form>

{% if results %}
    <br>

<h2>Resultados:</h2>

<table class="table table-striped">
    <tr>
        <th>Descripción</th>
        <th>Precio Venta</th>
        <th>Servidor</th>

    </tr>
    {% for key, value in results.items() %}
        {% for row in value %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ key }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>
{% endif %}
    {% endblock %}
</body>
</html>
